# Build artifacts
/_build
/deps
*.ez
mix.lock

# coverage and test reports
/cover

# generated documentation
/doc
/docs

# other stuff
erl_crash.dump
*~

# TEX-temporyry
/tex/*.aux
/tex/*.log
/tex/*.pdf
/tex/*.synctex.gz
/tex/*.toc
